@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 2, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #999999;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #737373;
  color: white;
}
/* line 18, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 15, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25rem;
}

/* line 26, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h2 {
  font-size: 2rem;
}

/* line 30, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75rem;
}

/* line 34, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5rem;
}

/* line 38, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25rem;
}

/* line 42, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
h6 {
  font-size: 1rem;
}

/* line 46, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75rem;
}

/* line 50, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #999999;
  text-decoration: none;
}
/* line 55, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
a:hover {
  color: #737373;
}
/* line 59, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus {
  color: #737373;
  outline: none;
}

/* line 65, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5rem 0;
}

/* line 74, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 79, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5rem 0;
  padding-left: 0.75rem;
}

/* line 86, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 90, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75rem 0;
  padding: 1.5rem;
}

/* line 10, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
}

/* line 16, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375rem;
}
/* line 20, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}
/* line 44, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #999999;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(140, 140, 140, 0.7);
  outline: none;
}

/* line 55, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 64, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375rem;
}

/* line 69, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75rem;
  width: 100%;
}

/* line 74, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto;
}

/* line 1, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75rem 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75rem 0;
  text-align: left;
}

/* line 15, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75rem 0;
}

/* line 22, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75rem;
}
/* line 23, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75rem;
}
/* line 28, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, /Users/pmw/workspace/portfolio/app/assets/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #33bd9c;
  border-bottom: 1px solid #28957b;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 3.5rem;
  width: 100%;
  z-index: 999;
}
/* line 15, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 24, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .menu-wrapper {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  position: relative;
  z-index: 9999;
}
/* line 38, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
header.navigation .menu-wrapper:last-child {
  margin-right: 0;
}
/* line 15, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .logo {
  float: left;
  max-height: 3.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
}
/* line 37, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .logo img {
  max-height: 3.5rem;
  padding: .8rem 0;
}
/* line 43, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 3.5rem;
  margin: 0;
  padding-right: 1rem;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75rem) {
  /* line 43, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 59, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .navigation-menu-button:hover {
  color: #2b2b2b;
}
/* line 64, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .nav {
  z-index: 9999999;
  float: none;
}
@media screen and (min-width: 53.75rem) {
  /* line 64, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .nav {
    float: left;
  }
}
/* line 72, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation ul#navigation-menu {
  clear: both;
  -webkit-transform-style: preserve-3d;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75rem) {
  /* line 72, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation ul#navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 89, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation ul li {
  background: #33bd9c;
  display: block;
  line-height: 3.5rem;
  overflow: hidden;
  padding-right: .8rem;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75rem) {
  /* line 89, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation ul li {
    background: transparent;
    display: inline;
    line-height: 3.5rem;
    padding-right: 2rem;
    text-decoration: none;
    width: auto;
  }
}
/* line 108, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation ul li a {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
/* line 112, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation ul li a:hover {
  color: #2b2b2b;
}
/* line 118, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .active-nav-item a {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 123, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation li.more {
  padding-right: 0;
}
/* line 126, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation li.more:hover .submenu {
  display: block;
}
@media screen and (min-width: 53.75rem) {
  /* line 123, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation li.more {
    position: relative;
    padding-right: .8rem;
  }
}
/* line 136, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation li.more a {
  padding-right: .8rem;
}
/* line 140, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .submenu {
  display: none;
}
@media screen and (min-width: 53.75rem) {
  /* line 140, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .submenu {
    position: absolute;
    top: 1rem;
    left: -1em;
  }
}
/* line 149, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75rem) {
  /* line 149, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .submenu li {
    line-height: 2.69231rem;
  }
  /* line 156, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .submenu li:first-child a {
    padding-top: 1rem;
  }
  /* line 159, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .submenu li:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7rem;
  }
}
/* line 166, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .submenu li a {
  text-align: right;
  background-color: #30b192;
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 53.75rem) {
  /* line 166, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .submenu li a {
    width: 12rem;
    background-color: #33bd9c;
    text-align: left;
    padding-left: 1em;
  }
}
/* line 182, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .navigation-tools {
  padding-right: 1rem;
  padding-left: 1rem;
  clear: both;
  background: #999999;
}
/* line 15, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-tools:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75rem) {
  /* line 182, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .navigation-tools {
    background: transparent;
    float: right;
    clear: none;
  }
}
/* line 197, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .search-bar {
  padding: 13px 5px;
  float: left;
}
/* line 204, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .search-bar .search-and-submit {
  position: relative;
}
/* line 4, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/css3/_placeholder.scss */
header.navigation .search-bar .search-and-submit input::-webkit-input-placeholder {
  color: #999999;
}
/* line 4, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/css3/_placeholder.scss */
header.navigation .search-bar .search-and-submit input::-moz-placeholder {
  color: #999999;
}
/* line 4, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/css3/_placeholder.scss */
header.navigation .search-bar .search-and-submit input:-moz-placeholder {
  color: #999999;
}
/* line 4, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/css3/_placeholder.scss */
header.navigation .search-bar .search-and-submit input:-ms-input-placeholder {
  color: #999999;
}
/* line 213, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .search-bar .search-and-submit input[type=search] {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #2ea98b;
  padding: .6em .8em;
  font-size: .9em;
  font-style: italic;
  color: white;
  border-radius: 6px;
  margin: 0;
}
/* line 224, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] {
  border: 1px solid #29cca5;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #a8e1d4;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #67d6bb;
  background-image: -webkit-linear-gradient(#67d6bb, #2fd5ae);
  background-image: linear-gradient(#67d6bb, #2fd5ae);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #6ee3c7;
  background-clip: padding-box;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  bottom: 0.3em;
  outline: none;
  padding: 5px 15px;
}
/* line 131, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #81d5c1;
  cursor: pointer;
  background-color: #57ccb0;
  background-image: -webkit-linear-gradient(#57ccb0, #2acba4);
  background-image: linear-gradient(#57ccb0, #2acba4);
}
/* line 148, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #29cca5;
  box-shadow: inset 0 0 8px 4px #29bd9a, inset 0 0 8px 4px #29bd9a;
}
/* line 51, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 230, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] img {
  height: 12px;
  opacity: .7;
}
@media screen and (min-width: 53.75rem) {
  /* line 197, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .search-bar {
    width: 16rem;
    position: relative;
    display: inline-block;
  }
  /* line 242, /Users/pmw/workspace/portfolio/app/assets/stylesheets/refills/_navigation.scss */
  header.navigation .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

/* line 6, /Users/pmw/workspace/portfolio/app/assets/stylesheets/_main.css.scss */
main {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 15, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, /Users/pmw/workspace/portfolio/app/assets/stylesheets/_main.css.scss */
main div#content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 38, /Users/pmw/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
main div#content:last-child {
  margin-right: 0;
}
