// _main.css.scss

html {
  min-height: 100%;
}

header {

}

button,
input[type="submit"] {
  background-color: $seafoam-green;
}


main {
  @include outer-container;

  #content {
    @include pad(1rem);
    @include span-columns(12);

    @include media($medium-screen-up) {
      @include span-columns(10 of 12);
    }

    @include media($large-screen-up) {
      @include span-columns(9 of 12);
    }
  }

  #branding {
    @include row;
    @include span-columns(12);

    @include media($medium-screen-up) {
      @include span-columns(2 of 12);
    }

    @include media($large-screen-up) {
      @include span-columns(3 of 12);
    }
  }
}

#my-face {
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);
  @include border-right-radius(50%);

  margin-bottom: 1rem;
  opacity: 0.9;

  @include media($medium-screen-up) {
    @include span-columns(12 of 12)
  }
}

#social-links {
  @include media($medium-screen-up) {
  }

  .social-link {
    @include span-columns(3 of 12);

    svg {
      fill: $dark-gray;
    }

    @include media($medium-screen-up) {
      @include span-columns(12 of 12);
    }
  }
}

.button {
  @extend %button;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: $seafoam-green;
}

